.menu__link {
    background: #3a81b1;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    display: flex;
    font-weight:bold;
    font-size: 18px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-in-out;    
}

.menu__link:hover {
    background: #a8bcff;
    cursor: pointer;
}